.sidebar {
  width: $sidebar-width;
  background-color: $sidebar-bg;
  padding: $sidebar-padding-vertical $sidebar-padding-horizontal;
  border-right: 1px solid $sidebar-border-color;
  position: $sidebar-position;
  top: 0;
  bottom: 0;

  &-nav {
    list-style: none;
    padding-left: 0;
    li {
      a {
        padding: 10px;
        border-radius: 4px;
        &.active {
          background-color: $primary;
          color: $white;
        }
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
